In [1]:
import pandas as pd

In [2]:
kenya=pd.read_csv("C:\\Users\\user\\Desktop\\kenya_primary_schools_edumap_ready.csv")

In [3]:
kenya.head()

,FID,Name_of_Sc,Level_,Status,SchSponsor,Type1,Type2,Type3,PupilTeach,ClassrmRat,...,Division,Location,Costituenc,Latitude,Longitude,Total Teachers,Total Pupils,Pupils per Teacher,Required Teachers (40:1),Extra Teachers Needed
0,10001,CHEBIREBEI PRI,PRIMARY SCHOOL,PUBLIC,RELIGIOUS ORGANIZATION,MIXED,DAY ONLY,ORDINARY,15.7,5.9,...,KISANANA,MOGOTIO,SINENDE,0.27,36.14,9,202,22.444444,5.0,0.0
1,10002,WASEGES PRI,PRIMARY SCHOOL,PUBLIC,RELIGIOUS ORGANIZATION,MIXED,DAY ONLY,ORDINARY,24.5,18.4,...,KISANANA,MOGOTIO,SINENDE,0.26,36.17,6,535,89.166667,13.0,7.0
2,10003,KIRIBOT PRI,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,23.6,14.8,...,KISANANA,MOGOTIO,KABUSWO,0.24,36.18,15,960,64.000000,24.0,9.0
3,10004,KABUSWO PRI SCH,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,33.3,29.6,...,KISANANA,MOGOTIO,KABUSWO,0.21,36.19,13,370,28.461538,9.0,0.0
4,10005,VONDENI PRI SCHOOL,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,31.8,23.1,...,MASINGA,KIVAA,MASINGA,-0.88,37.70,10,206,20.600000,5.0,0.0

In [4]:
kenya.tail()

,FID,Name_of_Sc,Level_,Status,SchSponsor,Type1,Type2,Type3,PupilTeach,ClassrmRat,...,Division,Location,Costituenc,Latitude,Longitude,Total Teachers,Total Pupils,Pupils per Teacher,Required Teachers (40:1),Extra Teachers Needed
31225,30996,MGANGANI PRI,PRIMARY SCHOOL,PUBLIC,CENTRAL GOVERNMENT/DEB,MIXED,DAY ONLY,ORDINARY,40.8,40.8,...,YATHUI,YATHUI,MWALA,-1.47,37.62,4,191,47.750000,5.0,1.0
31226,30997,KISIKINI PRI,PRIMARY SCHOOL,PUBLIC,CENTRAL GOVERNMENT/DEB,MIXED,DAY ONLY,ORDINARY,10.0,7.5,...,CHULUNI,MBUSYANI,KITUI CENTRAL,-1.55,37.96,15,347,23.133333,9.0,0.0
31227,30998,NGOMANO PRI SCH,PRIMARY SCHOOL,PUBLIC,CENTRAL GOVERNMENT/DEB,MIXED,DAY ONLY,ORDINARY,18.0,13.5,...,YATHUI,YATHUI,MWALA,-1.45,37.64,13,118,9.076923,3.0,0.0
31228,30999,NGILUNI PRI,PRIMARY SCHOOL,PUBLIC,CENTRAL GOVERNMENT/DEB,MIXED,DAY ONLY,ORDINARY,45.7,34.3,...,CHULUNI,MBUSYANI,KITUI CENTRAL,-1.51,37.98,11,971,88.272727,24.0,13.0
31229,31000,KIKASO PRI SCH,PRIMARY SCHOOL,PUBLIC,CENTRAL GOVERNMENT/DEB,MIXED,DAY ONLY,ORDINARY,39.5,34.3,...,YATHUI,YATHUI,MWALA,-1.49,37.61,12,489,40.750000,12.0,0.0

In [7]:
kenya_fixed=kenya.drop('PupilTeach',axis=1)

In [12]:
kenya_fixed_a=kenya_fixed.drop('ToiletRatio',axis=1)

KeyError: "['ToiletRatio'] not found in axis"

In [13]:
kenya_fixed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31230 entries, 0 to 31229
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FID                       31230 non-null  int64
 1   Name_of_Sc                31229 non-null  object
 2   Level_                    31229 non-null  object
 3   Status                    31229 non-null  object
 4   SchSponsor                31229 non-null  object
 5   Type1                     31229 non-null  object
 6   Type2                     31229 non-null  object
 7   Type3                     31229 non-null  object
 8   ClassrmRat                31229 non-null  float64
 9   ToiletRati                31229 non-null  float64
 10  No_Classrm                31229 non-null  float64
 11  BoysToilet                31229 non-null  float64
 12  GirlsToilet               31229 non-null  float64
 13  TeachersTo                31229 non-null  float64
 14  TotalToile                31229 non-null  float64
 15  TotalBoys                 31229 non-null  float64
 16  TotalGirls                31229 non-null  float64
 17  TotalEnrol                31229 non-null  float64
 18  GO_KTSC_M                 31229 non-null  float64
 19  GOK_TSC_F                 31229 non-null  float64
 20  authorityM                31229 non-null  float64
 21  authorityF                31229 non-null  float64
 22  PTA_BOG_M                 31229 non-null  float64
 23  PTA_BOG_F                 31229 non-null  float64
 24  OthersM                   31229 non-null  float64
 25  OthersF                   31229 non-null  float64
 26  NoTeaching                31229 non-null  float64
 27  NonTeachin                31229 non-null  float64
 28  Province                  31229 non-null  object
 29  District                  31229 non-null  object
 30  Division                  31229 non-null  object
 31  Location                  31229 non-null  object
 32  Costituenc                31229 non-null  object
 33  Latitude                  31229 non-null  float64
 34  Longitude                 31229 non-null  float64
 35  Total Teachers            31230 non-null  int64
 36  Total Pupils              31230 non-null  int64
 37  Pupils per Teacher        31230 non-null  float64
 38  Required Teachers (40:1)  31230 non-null  float64
 39  Extra Teachers Needed     31230 non-null  float64
dtypes: float64(25), int64(3), object(12)
memory usage: 9.5+ MB

In [14]:
kenya=pd.read_csv("C:\\Users\\user\\Desktop\\EduMap_kenya_students_cleaned.csv")

In [15]:
kenya.head()

,FID,Name_of_Sc,Level_,Status,SchSponsor,Type1,Type2,Type3,PupilTeach,Province,District,Division,Location,Costituenc,Total Teachers,Total Pupils,Pupils per Teacher,Required Teachers (40:1),Extra Teachers Needed
0,10001,CHEBIREBEI PRI,PRIMARY SCHOOL,PUBLIC,RELIGIOUS ORGANIZATION,MIXED,DAY ONLY,ORDINARY,15.7,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,SINENDE,9,202,22.444444,5.0,0.0
1,10002,WASEGES PRI,PRIMARY SCHOOL,PUBLIC,RELIGIOUS ORGANIZATION,MIXED,DAY ONLY,ORDINARY,24.5,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,SINENDE,6,535,89.166667,13.0,7.0
2,10003,KIRIBOT PRI,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,23.6,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,KABUSWO,15,960,64.000000,24.0,9.0
3,10004,KABUSWO PRI SCH,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,33.3,RIFT VALLEY,KOIBATEK,KISANANA,MOGOTIO,KABUSWO,13,370,28.461538,9.0,0.0
4,10005,VONDENI PRI SCHOOL,PRIMARY SCHOOL,PUBLIC,COMMUNITY,MIXED,DAY ONLY,ORDINARY,31.8,EASTERN,MACHAKOS,MASINGA,KIVAA,MASINGA,10,206,20.600000,5.0,0.0

In [16]:
kenya.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31230 entries, 0 to 31229
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FID                       31230 non-null  int64
 1   Name_of_Sc                31229 non-null  object
 2   Level_                    31229 non-null  object
 3   Status                    31229 non-null  object
 4   SchSponsor                31229 non-null  object
 5   Type1                     31229 non-null  object
 6   Type2                     31229 non-null  object
 7   Type3                     31229 non-null  object
 8   PupilTeach                31229 non-null  float64
 9   Province                  31229 non-null  object
 10  District                  31229 non-null  object
 11  Division                  31229 non-null  object
 12  Location                  31229 non-null  object
 13  Costituenc                31229 non-null  object
 14  Total Teachers            31230 non-null  int64
 15  Total Pupils              31230 non-null  int64
 16  Pupils per Teacher        31230 non-null  float64
 17  Required Teachers (40:1)  31230 non-null  float64
 18  Extra Teachers Needed     31230 non-null  float64
dtypes: float64(4), int64(3), object(12)
memory usage: 4.5+ MB

In [29]:
kenya.Type2.value_counts()

Type2
DAY ONLY                 28572
DAY & BOARDING            1660
BOARDING ONLY              544
                           405
DAY AND BOARDING            40
DAY AND BOARDING ONLY        3
N                            1
I                            1
DE                           1
DAY& BOARDING                1
DAY 7& BOARDING              1
Name: count, dtype: int64

In [19]:
kenya_a=kenya.drop('PupilTeach',axis=1)

In [20]:
kenya_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31230 entries, 0 to 31229
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FID                       31230 non-null  int64
 1   Name_of_Sc                31229 non-null  object
 2   Level_                    31229 non-null  object
 3   Status                    31229 non-null  object
 4   SchSponsor                31229 non-null  object
 5   Type1                     31229 non-null  object
 6   Type2                     31229 non-null  object
 7   Type3                     31229 non-null  object
 8   Province                  31229 non-null  object
 9   District                  31229 non-null  object
 10  Division                  31229 non-null  object
 11  Location                  31229 non-null  object
 12  Costituenc                31229 non-null  object
 13  Total Teachers            31230 non-null  int64
 14  Total Pupils              31230 non-null  int64
 15  Pupils per Teacher        31230 non-null  float64
 16  Required Teachers (40:1)  31230 non-null  float64
 17  Extra Teachers Needed     31230 non-null  float64
dtypes: float64(3), int64(3), object(12)
memory usage: 4.3+ MB

In [31]:
kenya_b=kenya_a.drop('Type1',axis=1)
kenya_c=kenya_b.drop('Type2',axis=1)
kenya_d=kenya_c.drop('Type3',axis=1)

In [38]:
kenya_schools=kenya_d.rename(columns={'Level_':'School_type','FID':'School_ID','Constituenc':'Constituency','Total Teachers':'Total_Teachers','Total Pupils':'Total_Students','Pupils per Teacher':'Students_per_Teacher','Required Teachers (40:1)':'Teachers_Required','Extra Teachers Needed':'Extra_Teachers_Required'})

In [40]:
kenya_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31230 entries, 0 to 31229
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   School_ID                31230 non-null  int64
 1   Name_of_Sc               31229 non-null  object
 2   School_type              31229 non-null  object
 3   Status                   31229 non-null  object
 4   SchSponsor               31229 non-null  object
 5   Province                 31229 non-null  object
 6   District                 31229 non-null  object
 7   Division                 31229 non-null  object
 8   Location                 31229 non-null  object
 9   Costituenc               31229 non-null  object
 10  Total_Teachers           31230 non-null  int64
 11  Total_Students           31230 non-null  int64
 12  Students_per_Teacher     31230 non-null  float64
 13  Teachers_Required        31230 non-null  float64
 14  Extra_Teachers_Required  31230 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 3.6+ MB

In [42]:
kenya_schools.Status.value_counts()

Status
PUBLIC     23792
PRIVATE     7437
Name: count, dtype: int64

In [44]:
kenya_schools.to_csv("C:\\Users\\user\\Desktop\\EduMap_kenyan.csv")